@{
  Layout = "_Layout";
}
<table style="width=100%">
  <tr>
    <th>Tab ID</th>
    <th>Song Name</th>
  </tr>
  @foreach(var song in Model)
  {
    <tr>
      <td><a href="/song-tab-details/@song.GetId()">@song.GetName()<a/></td>
    </tr>
  }

</table>
