@{
  Layout = "_Layout";
}

<h1>Create your guitar tabs song here</h1>
<br>
<form>
  <div class="container container-fluid">
    <div class="row1">
      <div class="col-6-md">
        <label for="artistName">Enter the full artist name</label>
        <input type="text" name="artistName" value="" required>
        <label for="songName">Enter the full song name</label>
        <input type="text" name="songName" value="" required>
      </div>
    </div>
    <div class="row2">
      <div class="col-12-md">
        <textarea name="name" rows="10" cols="100" type="hidden"></textarea>
      </div>
    </div>
    <button class="btn btn-info" type="submit" name="createSong">Create my song!</button>
  </div>
</form>

<h3><a href="/">Return home</a></h3>
