@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1>Guitar Tab</h1>
  <h6>Create tours or organize a venue</h6>
</div>

<div class="vex-tabdiv"
    width=680 scale=1.0 editor="true" player="true"
    editor_width=680 editor_height=330>options space=12 font-size=14
        tab-stems=true tab-stem-direction=up

        tabstave time=4/4 key=A
        notes :8 5/5 5/4 5/3 ^3^ :16 5-6-7-8/1 :8 9s10/1 :h s9v/1


    options space=25
</div>

<h4><a href="/Venues">View Venues</a></h4>
<h4><a href="/Bands">View Bands</a></h4>
