@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1>Guitar Tab</h1>
  <h6>Create tours or organize a venue</h6>
</div>

<div class="vex-tabdiv"
    width=680 scale=1.0 editor="true"
    editor_width=680 editor_height=330>options space=20
    tabstave
    notation=true
    key=A time=4/4

    notes :q =|: (5/2.5/3.7/4) :8 7-5h6/3 ^3^ 5h6-7/5 ^3^ :q 7V/4 |
    notes :8 t12p7/4 s5s3/4 :8 3s:16:5-7/5 :h p5/4
    text :w, |#segno, ,|, :hd, , #tr


    options space=25
</div>

<h4><a href="/Venues">View Venues</a></h4>
<h4><a href="/Bands">View Bands</a></h4>
