@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1>Guitar Tab</h1>
  <h6>Create tours or organize a venue</h6>
</div>

<div class="vex-tabdiv"
    width=680 scale=1.0 editor="true" player="true"
    editor_width=680 editor_height=330>
    options tab-stems=true tab-stem-direction=down
    tabstave key=A notation=true
    notes :q (5/2.5/3.7/4) $.a./b.$ :8 5h6/3 7/4 $.a>/b.$
    notes :16 5h6/3 7/4 $.a>/b.$
    notes :8d 5/5
    options tab-stems=true tab-stem-direction=down
    tabstave key=A notation=true
    notes :q (5/2.5/3.7/4) $.a./b.$ :8 5h6/3 7/4 $.a>/b.$
    notes :16 5h6/3 7/4 $.a>/b.$
    notes :8d 5/5

    options space=25
</div>

<form id="note-form">

<button type="button" class="btn btn-link" id="whole-note"><img src="~/img/WholeNote.png"></button>
<button type="button" class="btn btn-link" id="half-note"><img src="~/img/HalfNote.png"></button>
<button type="button" class="btn btn-link" id="quarter-note"><img src="~/img/QuarterNote.png"></button>
<button type="button" class="btn btn-link" id="eighth-note"><img src="~/img/EighthNote.png"></button>
<button type="button" class="btn btn-link" id="sixteenth-note"><img src="~/img/SixteenthNote.png"></button>
<button type="button" class="btn btn-link" id="thirty-second-note"><img src="~/img/32ndNote.png"></button>
<button type="button" class="btn btn-link" id="quarter-rest"><img src="~/img/QuarterRest.png"></button>
<button type="button" class="btn btn-link" id="eighth-rest"><img src="~/img/EighthRest.png"></button>

  <label>Fret:</label>
    <select onchange="ChooseNoteFret()" id='guitar-fret-selection' name='guitar-fret-selection' type='text'>
      <option value=0>0</option>
      <option value=1>1</option>
      <option value=2>2</option>
      <option value=3>3</option>
      <option value=4>4</option>
      <option value=5>5</option>
      <option value=6>6</option>
      <option value=7>7</option>
      <option value=8>8</option>
      <option value=9>9</option>
      <option value=10>10</option>
      <option value=11>11</option>
      <option value=12>12</option>
      <option value=13>13</option>
      <option value=14>14</option>
      <option value=15>15</option>
      <option value=16>16</option>
      <option value=17>17</option>
      <option value=18>18</option>
      <option value=19>19</option>
      <option value=20>20</option>
      <option value=21>21</option>
      <option value=22>22</option>
      <option value=23>23</option>
      <option value=24>24</option>
    </select>
  <label>String:</label>
    <select onchange="ChooseNoteString()" id='guitar-string-selection' name='guitar-string-selection' type='text'>
       <option value=1>1</option>
       <option value=2>2</option>
       <option value=3>3</option>
       <option value=4>4</option>
       <option value=5>5</option>
       <option value=6>6</option>
    </select>
</form>

<button type="button" class="btn btn-info" id="add-note">Add Note</button>
