@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1>Guitar Tab</h1>
</div>

<div class="vex-tabdiv"
    width=680 scale=1.0 editor="true" player="true"
    editor_width=680 editor_height=330>
     @Model.GetTab()</div>
