<!DOCTYPE html>
<html>
<head>
  <link href="~/css/bootstrap.css" rel ="stylesheet" type="text/css" media="all">
  <link href="~/css/styles.css" rel="stylesheet" type="text/css" media="all">
  <script src="~/js/jquery-3.3.1.js"></script>
  <script src="~/js/bootstrap.js"></script>
  <script src="~/js/vextab-div.js"></script>
  <title>Guitar Tab</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Artists
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">New Artist</a>
            <a class="dropdown-item" href="#">View Artists</a>
            <a class="dropdown-item" href="#">Update Artists</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Delete Artist</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <a href="/all-songs">All Songs</a>
    </div>
  </nav>
  <div class="container container-margin">

    @RenderBody()

  </div>
  <footer class="container-fluid main-footer text-center">
    <p>For more information, contact us at <a href="mailto:BandTracker@gmail.com">BandTracker@gmail.com</a></p>
  </footer>
  <script src="~/js/vextab-input-parse.js"></script>
  </html>
